html {
  height: 100%; 
}

body {
/*    background-color: green;*/
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  padding: 8px 16px 0px 8px;
  font-size: 14pt;
  margin: 0;
  padding: 0;
  height: 100%;
}

#sidebalk {
  height: 100%;
  width: 300px;
  float: left;
  background-color: yellow;
  padding: 0;
/*    -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);*/
}

article




h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  margin: 20px 0px;
  color: transparent;   
  text-shadow: 0px 0px 1px #000;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

ul, ol {
  margin-top: 20px;
  padding-left: 20px;

}

a, a:hover, a:visited, a:active {
  color: blue;
}

p {
  margin-top: 0;
  font-size: 12pt;
  line-height: 18pt;
}

/* This makes the images scale to the full width of the page */
img {
  width: 100%;
  height: auto;
}

img.noscale {
  width: inherit;
}


@media screen and (max-width: 480px) {
  /* These CSS instructions are only used, if the 
  * ‘media query’ above turns out to be true 
  * 
  * Media query’s can use properties like:
  * width
  * orientation
  * resolution
  * screen / print
  */
    /* Smaller Screens */
    /* Our heading can be smaller */
  header h1 {
  font-size: 16px;
  font-style: italic;
    }
}

@media only screen and (min-width: 480px) {
    article { 
    /* Larger Screens */
  width: calc(100% - 300px);
  float: right;
  margin-right: 0;
  height:100%;
  overflow: auto;
  line-height: 24px;
  
  
/* If ever we want to mirror the text:
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);*/    
}


  nav {
  width: 200px;
  margin-left: 0;
  }
  
  footer {
  clear: both;
  }

}

@media only print {
    /**
     * When printing, the header is useful but it doesn’t need
     * to be so big
     */
    header h1 {
  font-size: 24px;
  font-style: italic;
    } 
    /* And the navigation we don’t need */
    nav {
  display: none;
    }
}

.clear {
  clear: both;
}
